.search-div {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.breed-search{
    padding: 11px;
    width: 600px;
    margin: 10px;
    border-radius: 30px;
    padding-left: 20px;
    background-color: white;
}

.breed-search-button{
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.breed-blocks{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cat-blocks, .dog-blocks {
    background-color: grey;
    margin: 10px;
    padding: 10px; /* Add padding for spacing */
    border-radius: 30px;
}

.block-title{
    justify-self: center;
    margin: 10px;
    font-size: 20px;
}

.breed-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    width: 100%;
    gap: 10px; /* Optional spacing */
    padding: 10px;
    
}

.breed-cell{
    height: 250px;
    background-color: white;
    border-radius: 30px;
}

.breed-title{
    color: black;
    justify-self: center;
    margin-top: 10px;
}

