.guide-container {
  height: 100%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%; /* 70% for the left section, 30% for the right section */
  gap: 20px; /* Adds spacing between the two columns */
  height: auto; 
  background-color: #f5f5dc; /* Beige for background */
  box-sizing: border-box;
  padding: 20px; /* Adds padding around the grid container */
}

.pet-guide-detail, .bloat-symptoms, .care-tips {
  margin-bottom: 20px;
}

.left-section {
  background-color: #d2b48c; /* Tan for the left section */
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between child elements inside the left section */
}

.tip-heading {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.tip-points {
  list-style-type: disc;
  margin-left: 20px;
}
.care-tips{
  margin-top: 20px;
}
.right-section {
  background-color: #deb887;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds space between child elements inside the right section */
}

.picture {
  border-radius: 10px;
  background-color: #f5deb3; /* Wheat for the picture */
  aspect-ratio: 1; /* Ensures the div is a square */
  height: auto;
  max-width: 100%; /* Prevents it from exceeding container width */
  overflow: hidden;
}

.info {
  background-color: #74604b; /* Light pastel brown for info */
  border-radius: 10px;
  padding: 15px;
  flex: 1; /* Takes up remaining space */
  box-sizing: border-box;
}

.pet-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.pet-info {
  display: table;
  width: 100%;
}

.info-row {
  display: table-row;
}

.info-row dt, .info-row dd {
  display: table-cell;
  padding: 3px 5px;
}

.info-row dt {
  font-weight: bold;
}

.info-row dd {
  text-align: left;
}

/* Media Query for Smaller Screens (max-width: 800px) */
@media (max-width: 800px) {
  .container {
    display: flex; /* Switch to flexbox for better dynamic sizing */
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Adds spacing between stacked sections */
  }

  .right-section {
    order: -1; /* Moves the right section to the top when in column layout */
  }

  .picture {
    width: 100%; /* Makes the picture take up the full width */
    height: 200px; /* Fixed height for the picture */
  }

  .info {
    height: 200px;
  }
}