.trainer-container {
    height: 95vh;
    width: 98.8vw;
    position: relative;
    overflow: hidden;
}

.bgimg {
    height: 95vh;
    width: 98.8vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.content {
    z-index: 10; /* Ensure content is above other elements */
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4; 
}

.center-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 5; 
    padding-left: 20px;
}

.page-info {
    margin-left: 4px; 
    width: 30%;
    font-size: 25px;
    line-height: 1.2;
}

.book-button {
    margin-top: 15px;
    width: 20%;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 25px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

.book-button:hover {
    background-color: white;
    color: black;
}
